# Server Configuration
PORT=1221
NODE_ENV=development # development | production | test

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key # Must be at least 32 characters
JWT_EXPIRES_IN=7d

# Database Configuration
# Database path.
# In "production" mode, the app automatically stores the DB in the OS User Data directory (e.g. %APPDATA%/AtomTitlesHive/app.db)
# to ensure persistence.
# In "development" mode, it uses the path below relative to the project root.
DATABASE_PATH=database/app.db

TYPEORM_SYNCHRONIZE=false # true for dev only
TYPEORM_LOGGING=true # true or false
