.select {
	user-select: none;
	position: relative;
}

.select.opened .select__list{
	max-height: fit-content;
}

.select.opened .select__chosed{
	border-bottom-color: transparent;
}

.select__chosed {
	border: 1px solid #000;
	padding: 20px;
	text-align: center;
}

.select__list {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	background-color: #dedede;
	border: 1px solid #000;
}

.option {
	cursor: pointer;
	padding: 20px;
	text-align: center;

	@media (hover: hover) {
		&:hover {
			background-color: #acacac;
			color: #fff;
		}
	}

	&:active {
		background-color: #646464;
		color: #fff;
	}
}

.option:not(:last-child) {
	border-bottom: 1px solid #000;
}

.select__hidden {
	display: none;
}