body:has(.modal-window.active) {
	overflow: hidden;
}

.modal-windows {}

.modal-window {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-window.opened {
	display: block;
}

.modal-window.closed {
	display: none;
}

.modal-window__overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(17, 17, 17, 0.8);
}

.modal-window__wrapper {
	background-color: #fff;
	padding: 40px 20px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-window__content {
}

.modal-window__title {
}

.modal-window__close {
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: none;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}