.tabs {
	height: 40px;
	margin-bottom: 20px;
	border-bottom: 2px solid #000;
}

.tab {
	appearance: none;
	cursor: pointer;
	border: none;
	background-color: unset;
	height: 100%;
	padding: 0 20px;
	transition: 0.1s 0s ease-in;
	border-radius: 5px 5px 0 0;
	position: relative;

	&:hover {
		padding-right: 40px;
		img {
			display: block;
		}
	}

	&:has(img:hover) {
		background-color: red;
	}

	img {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		max-width: 20px;
		height: 100%;
	}
}

.tab:first-child {
	img {
		display: none;
	}

	&:hover {
		padding-right: 20px;
	}
}

.tab.active {
	background-color: #ffffff;
	color: #000000;
}

.tab:active {
	background-color: #dcdcdc;
	color: #000000;
}