:root {
	--font-family: Arial, Helvetica, sans-serif;
	--font-size: 16px;
	--body-background: linear-gradient(90deg, rgba(216, 18, 219, 1) 10%, rgb(111, 2, 123) 59%);

	/* Container */

	--viewport: 1440px;

	--container-width: calc(var(--viewport) - calc(var(--container-offset) * 2));
	--container-offset: 20px;

	/* Section */

	--section-background: #ffffff;
	--section-border-radius: 10px;

	/* Collection */
	--collection-item-background: rgba(237, 237, 237, 0.3);
}

.btn-add {
	--bg-color: rgba(127, 234, 251, 0.8);

	max-width: 300px;
	width: 100%;
	background-color: var(--bg-color);
	backdrop-filter: blur(10px);
	padding: 10px 0;
	font-size: 30px;
	border-radius: 20px;
	border: 2px solid transparent;
	user-select: none;
	margin-bottom: 40px;
	transition: 0.2s ease;

	@media (hover: hover) {
		&:hover {
			background-color: transparent;
			border-color: var(--bg-color);
			color: #fff;
		}
	}
}

.top__buttons {
	display: flex;
	column-gap: 20px;
	width: 100%;
}

.loading,
.error {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40PX;
	color: #fff;
	text-align: center;
}