:root {
	--font-family: Arial, Helvetica, sans-serif;
	--font-size: 16px;
	--body-background: linear-gradient(90deg, rgba(216, 18, 219, 1) 10%, rgb(111, 2, 123) 59%);

	/* Container */

	--viewport: 1440px;

	--container-width: calc(var(--viewport) - calc(var(--container-offset) * 2));
	--container-offset: 20px;

	/* Section */

	--section-background: #ffffff;
	--section-border-radius: 10px;

	/* Collection */
	--collection-item-background: rgba(237, 237, 237, 0.3);
}