.btn {
	cursor: pointer;
	background-color: var(--btn-primary-bg);
	color: var(--btn-primary-text);
	user-select: none;
	transition: background-color 0.2s;
}

.btn--accent {
	background-color: var(--btn-accent-bg);
	color: var(--btn-accent-text);
}

.btn:hover {
	background-color: var(--btn-primary-bg-hover);
}

.btn--accent:hover {
	background-color: var(--btn-accent-bg-hover);
}